<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block content %}

    <button type = "button" class = "btn btn-primary">Add task</button>
    <h2>Tasks in "List 1"</h2>
    <ul class="list-group list-group-flush row">
        <li class="list-group-item col-xs-6" style="height: 60px">
            <div class="row">
            <div class="col">Task</div>
            <div class="col">Created</div>
            <div class="col">Due on</div>
            <div class="col">Owner</div>
            <div class="col">Status</div>
            </div>
        </li>
   
        <div>{{tasks}}</div>

        {% for task in Tasks %}
            <li class="list-group-item col-xs-6" style="height: 60px">
                <div class="row">
                <div class="col">{{task}}</div>
                <div class="col">{{Created}}</div>
                <div class="col">{{Due}}</div>
                <div class="col">{{Owner}}</div>
                <div class="col"><button type="button" class="btn btn-primary">Done</button></div>
                </div>
            </li>x

        {% endfor %}

    </ul>



{% endblock %}